__pycache__
.coverage
.idea
.vscode
.tox
coverage.xml
*.egg-info

docs/build
docs/source/_static/openapi.json
docs/vale/styles/*
!docs/vale/styles/config/
venv/
.venv/

.DS_Store # macOS
Thumbs.db # Windows

config.json
