__pycache__
.coverage
.idea
.vscode
coverage.xml
*.egg-info
site/
dist/
.github/styles/*
!.github/styles/config/
venv/
.venv/
.env*
!.env.example

.DS_Store # macOS
Thumbs.db # Windows

.ruff_cache/
.ty_cache/
.pytest_cache/
.cache/
