--extra-index-url https://artifactory.software.geant.org/artifactory/api/pypi/geant-swd-pypi/simple

jsonschema~=4.18.0
fastapi~=0.100.0
pydantic~=2.0.2
ansible-runner==2.3.3
uvicorn[standard]~=0.22.0
httpx~=0.24.0

ansible-core~=2.15.1
ansible_merge_vars~=5.0.0
GitPython~=3.1.31
jinja2==3.1.1
junos-eznc~=2.6.7
jxmlease~=1.0.3
ncclient~=0.6.13
ruamel.yaml~=0.17.32
xmltodict~=0.13.0
dictdiffer~=0.9.0
jmespath~=1.0.1

pytest~=7.4.0
Faker~=19.3.1
responses~=0.23.1
sphinx~=6.2.1
sphinx-rtd-theme~=1.2.2
requests~=2.31.0
docutils~=0.18.1
isort~=5.12.0
black~=23.3.0
flake8~=6.0.0
mypy~=1.4.1
ruff~=0.0.277
types-setuptools~=68.0.0.1
types-requests~=2.31.0.1
