--extra-index-url https://artifactory.software.geant.org/artifactory/api/pypi/geant-swd-pypi/simple

jsonschema
requests
ansible-runner
fastapi
pydantic
uvicorn[standard]
httpx
orchestrator-core==1.0.0
geant-service-orchestrator==0.1.dev235

pytest
responses
sphinx
sphinx-rtd-theme
pyyaml
