--extra-index-url https://artifactory.software.geant.org/artifactory/api/pypi/geant-swd-pypi/simple

jsonschema
fastapi
pydantic
ansible-runner

uvicorn[standard]
httpx

pytest
responses
sphinx
sphinx-rtd-theme
requests
docutils
isort
black
flake8
mypy
ruff

ansible-core==2.14.0
ansible_merge_vars
GitPython
jinja2==3.1.1
junos-eznc
jxmlease
ncclient
ruamel.yaml
xmltodict
