# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Linting tests

on:
  push:
  pull_request:
    branches: [main]
  workflow_call:

env:
  UV_LOCKED: true

jobs:
  build:
    name: Linting Tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.11', '3.12']
      fail-fast: false

    steps:
      - uses: actions/checkout@v4
      - name: Install uv and set Python version
        uses: astral-sh/setup-uv@v7
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install the project
        run: uv sync --all-extras --dev
      - name: Check formatting with ruff
        run: uv run ruff format --respect-gitignore --preview --check .
      - name: Lint with ruff
        run: uv run ruff check --respect-gitignore --preview .
      - name: Check with mypy
        run: uv run mypy .
