name: Unit tests
on:
  push:
  workflow_call:

jobs:
  container_job:
    name: Unit tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.11']
      fail-fast: false
    container: python:${{ matrix.python-version }}-slim
    steps:
      # Downloads a copy of the code in your repository before running CI tests
      - name: Check out repository code
        uses: actions/checkout@v3

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install flit
          flit install --deps develop --symlink
        env:
          FLIT_ROOT_INSTALL: 1
      - name: Run Unit tests
        run: pytest
        env:
          SETTINGS_FILENAME: dummy.json
