name: "Sphinx: render docs"

on:
  push:
    branches:
      - develop

jobs:
  docs:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python environment
        uses: actions/setup-python@v4
        with:
          python-version: 3.11
      - name: Install requirements
        run: |
          python -m pip install --upgrade pip
          pip install flit
          flit install --deps develop --symlink
        env:
          FLIT_ROOT_INSTALL: 1
      - name: Build documentation
        run: TZ=UTC sphinx-build -b html docs/source docs/build
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.3'
      - uses: errata-ai/vale-action@reviewdog
        with:
          files: "docs/source/,lso/"
          separator: ','
          fail_on_error: true
          vale_flags: "--glob=*.{rst,py}"
      - uses: peaceiris/actions-gh-pages@v3
        if: ${{ !env.ACT }}
        with:
          publish_branch: gh-pages
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: docs/build/
          enable_jekyll: false
